{% extends 'NotificationApnsBundle:Default:main.html.twig' %}

{% block body %}
    <a href="{{ path('notification_apns_setSubscribe') }}">Subscribe notification</a>
    <a href="{{ path('notification_apns_start') }}">Push message</a>  
{% endblock %}