{% extends 'NotificationApnsBundle:Default:main.html.twig' %}

{% block body %}
    id name active
    {{form}}
{% for qdata in name %}
</br>
    {% for data in qdata %}
        -{{data}}-
    {% endfor %}
{% endfor %}
{% endblock %}