{% extends 'NotificationApnsBundle:Default:main.html.twig' %}

{% block body %}
    All rite; 
    <form action="{{ path('notification_apns_setSubscribe') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>
{% endblock %}