{% extends 'NotificationApnsBundle:Default:main.html.twig' %}

{% block body %}
    
<form action="{{ path('notification_apns_start') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>
  
 {#<a href="{{ path('notification_apns_subscript') }}">Subscribe notification</a>#}
{# <a href="{{ path('notification_apns_subscript') }}">Push notification</a>  #}
{% endblock %}
