{% extends 'NotificationApnsBundle:Default:main.html.twig' %}

{% block body %}
    You are subscribe to aplle push notification.
    <script>
      //  window.stop();
    </script>
<script> 
        document.body.onload = function() {

    // Ensure that the user can receive Safari Push Notifications.

    if ('safari' in window && 'pushNotification' in window.safari) {

        var permissionData = window.safari.pushNotification.permission('http://localhost/notification/web/app_dev.php/demo/hello/World');

        checkRemotePermission(permissionData);

    }
    else{
       // alert(location.href);
     //  "http://localhost/notification/web/app_dev.php/setSubscribe/t";
     location.href = "{{ path('notification_apns_setSubscribe', { 'name': 'test','active':'1'}) }}";
        
    }

};

 

var checkRemotePermission = function (permissionData) {

    if (permissionData.permission === 'default') {

        // This is a new web service URL and its validity is unknown.

        window.safari.pushNotification.requestPermission(

            'https://domain.example.com', // The web service URL.

            'web.com.example.domain',     // The Website Push ID.

            {}, // Data that you choose to send to your server to help you identify the user.

            checkRemotePermission         // The callback function.

        );

    }

    else if (permissionData.permission === 'denied') {

        // The user said no.
        alert('The user said no');

    }

    else if (permissionData.permission === 'granted') {

        // The web service URL is a valid push provider, and the user said yes.

        // permissionData.deviceToken is now available to use.
        alert(permissionData.deviceToken); 
        //need write to DB.
    }

};
</script> 
{% endblock %}
